<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Html Table</title>
</head>
<body>
    <div class="col-4">
        <table class="table">
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user['first_name']}}</td>
                    <td>{{ user['last_name'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>
</html>