<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User CR</title>
</head>
<body>
    <h1>See all the others hanging out with us!</h1>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <p>First Name: {{user.first_name}}</p>
                <p>Last Name: {{user.last_name}}</p>
                <p>email: {{user.email}}</p>
                <p>Created At: {{user.created_at}}</p>
            {% endfor %}
        </tbody>
    </table>
    <a href="/create">Create Your Profile</a>
</body>
</html>