<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
</head>
<body>
    <h1>
        Update your profile info.
    </h1>
    <form action='/users/update' method="POST">
        <input type="hidden" name="id" value="{{user.id}}">
        <label>First Name</label>
        <input type="text" name="first_name" value="{{user.first_name}}">
        <label>Last Name</label>
        <input type="text" name="last_name" value="{{user.last_name}}">
        <label>Email</label>
        <input type="email" name="email" value="{{user.email}}">
        <input type="submit" value="Update Profile">
    </form>
</body>
</html>