<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
</head>
<body>
    <form action="/user/create" method="post">
        <h2>Join Us! Please provide your details below: </h2>
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email">
        </div>
        <input type="submit" value="Create Account">
    </form>
</body>
</html>