<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <form action="/user/update" method="post">
        <h2 class="text-center">Edit Your Profile</h2>
        <input type="hidden" name="id" value={{user.id}}>
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" class="form-control" value="{{user.first_name}}">
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" class="form-control" value="{{user.last_name}}">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" class="form-control" value="{{user.email}}">
        </div>
        <input type="submit" value="Edit My Profile">
    </form>
</body>
</html>